{% import "macros/macros.html" as macros %}

<!DOCTYPE html>
<html>

{% include "partials/header.html" %}

{% set theme = config.extra.theme %}
{% set theme_class = "" %}
{% if config.extra.theme is defined %}
{% if theme == "dark" or theme == "light" %}
    {% set theme_class = theme %}
{% endif %}
{% endif %}

<body class="{{ theme_class }}">
    <div class="content">
        {% include "partials/nav.html" %}

        {# Post page is the default #}
        {% block main_content %}
            Nothing here?!
        {% endblock main_content %}
        {% if page.extra.comment is defined %}{% set show_comment = page.extra.comment %}{% else %}{% set show_comment = config.extra.comment %}{% endif %}
        {% if show_comment %}
        <div class="giscus"></div>
        {% include "_giscus_script.html" %}
        {% endif %}
    </div>
</body>

</html>
