---
layout: base
---


{% include page_header.html title=include.collection.title %}

<main>
  {%- if paginator %}
    {%- assign show_pages = paginator.pages -%}
  {% else %}
    {%- assign show_pages = include.collection.pages -%}
  {% endif -%}

  <div class="cards">

    {%- for page in include.collection %}
      <div class="card">
        {% if page.local_image %}
          <img
            class="card-image"
            alt="{{ page.local_image }}"
            src="{{ page.local_image |absolute_url }}" />
        {% else if page.remote_image %}
          <img
            class="card-image"
            alt="{{ page.remote_image }}"
            src="{{ page.remote_image }}" />
        {% else %}
          <div class="card-image-placeholder"></div>
        {% endif %}

        <div class="card-info">
          <h1 class="card-title">
            {% if page.link_to %}
              <a href="{{ page.link_to }}">{{ page.title }}</a>
            {% else %}
              <a href="{{ page.permalink }}">{{ page.title }}</a>
            {% endif %}
          </h1>

          <div class="meta">
            {%- if page.date %}
              <time>{{ page.date | date: "%Y-%m-%d" }}</time>
            {% endif -%}
            {% if page.draft %}
              <span class="draft-label">DRAFT</span>
            {% endif %}
          </div>

          <div class="card-description">
            {% if page.description %}
              {{ page.description }}
            {% endif %}
          </div>
        </div>
      </div>

    {% endfor -%}
  </div>
</main>

{% if paginator %}
  {% include paginator.html %}
{% endif %}