<!DOCTYPE html>


{% assign theme_variant = site.theme_variant %}
{% assign theme_variant_class = "" %}
{% if site.theme_variant != nil %}
  {% if theme_variant == "dark" or theme_variant == "light" %}
    {% assign theme_variant_class = theme_variant %}
  {% endif %}
{% endif %}


<html lang="en-us" class="{{ theme_variant_class }}">

  {% include head.html %}
  <body>
    <div class="content">

      {% comment %} <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
                                                                         content to avoid any CSS collisions with our real content. -->
                                                                    <div class="wrap">
                                                                      <div class="masthead">
                                                                        <div class="container">
                                                                          <h3 class="masthead-title">
                                                                            <a href="{{ site.url }}/" title="Home">{{ site.title }}</a>
                                                                            <small>{{ site.tagline }}</small>
                                                                          </h3>
                                                                        </div>
                                                                      </div>

                                                                      <div class="container content">
                                                                        {{ content }}
                                                                      </div>
                                                                    </div>

                                                                    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
                                                                  </body>
                                                </html> {% endcomment %}


    {% include nav.html %}

      {% comment %} Post page is the default {% endcomment %}
      {{ content }}
    {% comment %}
      {% if page.comment != nil %}{% assign show_comment = page.comment %}{% else %}{% assign show_comment = site.comment %}{% endif %}
      {% if show_comment %}
      <div class="giscus"></div>
      {% include "_giscus_script.html" %}
      {% endif %}
    {% endcomment %}
    </div>
  </body>

</html>