---
layout: base
---

<main>
    <article>
        <div class="title">
            {% include page_header.html title=page.title %}

                <div class="meta">

                    <div id="date">
                        {% if page.date %}
                        <span></span>Posted on <time id="publish">{{ page.date | date: "%Y-%m-%d" }}</time></span>
                        {% endif %}
                        {% if page.updated and page.updated != page.date -%}
                        <span>Updated on <time id="updated">{{ page.updated | date }}</time></span>
                        {% endif -%}
                    </div>

                    {% assign config_outdate_callout = site.outdate_callout.enabled | default: false %}
                    {% assign config_outdate_callout_days = site.outdate_callout.days | default: 120 %}
                    {% assign config_outdate_callout_type = site.outdate_callout.type | default: "alert" %}

                    {% assign show_outdate_callout = page.outdate_callout.enabled | default: config_outdate_callout %}
                    {% assign outdate_callout_days = page.outdate_callout.days | default: config_outdate_callout_days %}
                    {% assign outdate_callout_type = page.outdate_callout.type | default: config_outdate_callout_type %}

                    {% if show_outdate_callout %}

                    {% assign data_outdate_callout_days = "outdate-days" | split: ',' | push: outdate_callout_days %}
                    {% assign data_outdate_callout_text_before = "outdate-text-before"| split: ',' | push: site.outdate_callout.text_before %}
                    {% assign data_outdate_callout_text_after = "outdate-text-after"| split: ',' | push: site.outdate_callout.text_after %}

                    {% assign data_outdate_callout = "" | split: ',' | push: data_outdate_callout_days | push: data_outdate_callout_text_before | push: data_outdate_callout_text_after %}

                      {%
                        include callout.html
                            id="outdate_callout"
                            class="hidden"
                            type=outdate_callout_type
                            data=data_outdate_callout
                        %}
                    {% endif %}

                    {% if page.draft %}
                        <span class="draft-label">DRAFT</span>
                    {% endif %}
                </div>
        </div>

        {% if page.tldr %}
            <div class="tldr">
                <strong>tl;dr:</strong>
                {{ page.tldr }}
            </div>
        {% endif %}

        {% comment %} Optional table of contents {% endcomment %}
        {% if site.toc and page.toc %}
                <h1>Table of Contents</h1>
                <ul>
                {% for h1 in page.toc %}
                    <li>
                        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                        {% if h1.children %}
                            <ul>
                                {% for h2 in h1.children %}
                                    <li>
                                        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                                    </li>

                                    {% if h2.children %}
                                    <ul>
                                        {% for h3 in h2.children %}
                                            <li>
                                                <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
        {% endif %}

        <section class="body">
            {{ page.content | safe }}
        </section>

        {% if page.taxonomies and page.taxonomies.tags %}
            <div class="post-tags">
                <nav class="nav tags">
                    <ul class="tags">
                        {% for tag in page.taxonomies.tags %}
                            {% comment %} <li><a href={ get_taxonomy_url(kind='tags', name=tag) | safe }>{{ tag }}</a></li> {% endcomment %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endif %}

    </article>
</main>
